body,p,h1,h2,h3 {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    background-color: hsl(251, 73%, 97%);
    min-height: 100vh;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 100px;
    box-sizing: border-box;
    
}

/* frist box */

.free {
    width: 230px;
    height: fit-content;
    background-color: white;
    border-radius: 7px;
    padding-top: 50px;
    padding-left: 35px;

}

.plan-name {
    font-size: 36px;
}

.amount {
    font-size: 36px;
    font-weight: 100;
    margin: 12px 0;
}

.details {
    display: flex;
    align-items: center;
}

.subscribe-now {
    display: grid;
    justify-content: center;
    margin-left: -35px;
    
}

.button {
    background-color: #202842;
    color: white;
    border-radius: 24px;
    font-size: 18px;
    padding: 10px 35px;
    margin: 30px auto;
    border-color: transparent;
}
    /* second box */

.pro {
    background-color: #202842 ;
    color: white;
    width: 230px;
    height: fit-content;
    border-radius: 7px;
    padding-top: 50px;
    padding-left: 35px;

}

.dark-button {
    background-color: white;
    color: black;
    border-radius: 24px;
    font-size: 18px;
    padding: 10px 35px;
    margin: 30px auto;
    border-color: transparent;
}